<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{components/base :: page(title='Detalle de Estadísticas de Usuario', content=~{::content})}">
<section th:fragment="content">
    <div class="container">
        <h2>Detalle de las estadísticas del usuario</h2>

        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Periodo (Mes)</th>
                    <th>Asignaciones Iniciadas</th>
                    <th>Seguimientos Realizados</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stat : ${userStats}">
                    <td th:text="${stat.id.userUsername}">Username</td>
                    <td th:text="${stat.id.period}">Periodo</td>
                    <td th:text="${stat.routinesStarted}">0</td>
                    <td th:text="${stat.followupsMade}">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

</html>